html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

.container {
	position:relative; 
	width: 980px; 
	padding: 20px 0 0; 
	margin: 0 auto;
	overflow: hidden;
}

#map_canvas {
	position: relative; 
	float: left; 
	width: 598px; 
	height: 550px; 
	margin: 40px 20px 0; 
	border: solid 1px #CCC;
}

#side_bar {
	position: relative; 
	float: left; 
	width: 340px; 
	height: 650px;
}
	#phone_screen {
		position: absolute; 
		top: 92px;
		left: 18px;
		width: 300px;
		height: 445px;
		background: #3366FF; 
		z-index: 0;
	}
	#phone {
		position: absolute; 
		top:0px; 
		left: 0px; 
		z-index: 1;
	}
	#refresh_btn{
		position: absolute; 
		top:537px; 
		left: 58px; 
		width: 50px;
		height: 35px;
		z-index: 2;
	}
	
	#debug_btn{
		position: absolute; 
		top:537px; 
		left: 143px; 
		width: 50px;
		height: 35px;
		z-index: 2;
	}